@import '~bootstrap/scss/bootstrap.scss';
body{
    background: none !important;
}

.slick-track{
    opacity: 1; 
    width: 1650px;
}
#logbackimag{
    background-size: cover;
    background-image: url(https://i.ytimg.com/vi/fdeQ5pVYgR0/maxresdefault.jpg) 
}
/*#signopacid{
    opacity: 0.7;
}*/
#contbackimag{
    background-size: cover;
    background-image: url(https://dzbc.org/download/gym-wallpapers-4k/?file_path=112365) 
}    
/*#contopacid{
    opacity: 0.6;
}*/
.navbar-nav .nav-link {
    padding-right: 65px;
    padding-left: 12px;
}
    
.owl-wrapper{
    /*display: block;*/
    width: 3648px; 
    left: 0px; 
    transition: all 0ms ease; 
    transform: translate3d(0px, 0px, 0px);
}

.product-slider owl-carousel owl-theme{
    display: block; 
    opacity: 1;
}

.owl-item{
    width: 228px;
    visibility: visible;
}

.item{
    visibility: visible;
}

.product-slider img{
    width: 100%;
}

._3fcx {
    background-color: green;
    font-size: 14px;
    font-weight: 600;
    color: white;
    line-height: 18px;
    padding: 4px;
    width: 40px;
    border-radius: 100%;
    position: relative;
}

._7ye img{
    height: 325; top: -40px; left: 0px;
} 
#passinput{
    margin-left: 15px;
}

.html5{    
    width: 510px; height: 287px; left: 0px; top: 0px;   
}
#prodquant{
    width: 40px;
}

#myuser{
    margin-right: 10px;
}
#mylogb{
    float: right;
    color: blue;
    border-radius: 5px;
    margin-top: 52px;
    margin-bottom: -40px;
}
.modal-body{
    padding: 71px;
    font-size: 13px;
}
div.modal-header{
    background:#194c7a;
    color: white;
}    

.btnGroupDrop1{
    background: lightgray;
}
div.modal-body{
    padding-left: 103px;
}
#submitbotton{
    float: right;
    margin-right: 15px;
}
/*#imgabout{
    height: 340px;
}*/
.imglogo{
    margin-bottom: 5px;
}
#regjumb{
    font-size: 12px;
}
.pb-video-container {
    padding-top: 20px;
    font-family: Lato;
}

.pb-video {
    border: 1px solid #e6e6e6;
    padding: 5px;
}

.pb-video-frame {
    transition: width 1s, height 1s;
}

.pb-video-frame:hover {
    height: 400px;
}

.pb-row {
    margin-bottom: 10px;
}

.btn-primary:hover,
.btn-primary:focus
{
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary
{
    color: #fff;
    background-color: #305891;
    border-color: #305893;
}

section
{
    padding: 60px 0;
}

section .section-title
{
    text-align: center;
    color: #305893;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card
{
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside
{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside
{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip
{
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside
{
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside
{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside
{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card
{
    min-height: 312px;
}

.backside .card a
{
    font-size: 18px;
    color: #305893 !important;
}

.frontside .card .card-title,
.backside .card .card-title
{
    color: #305893 !important;
}

.frontside .card .card-body img
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.w-100{
    margin-top: 60px;
}
.cid-qv5AL7fBTQ {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: white;
}

#ex4 .p1[data-count]:after{
  position:absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding:.2em;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background: rgba(255,0,0,.85);
  text-align: center;
  min-width: 1em;
  //font-weight:bold;
}


#ex3 .fa-stack[data-count]:after{
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 30%;
  padding:.6em;
  border-radius: 50%;
  line-height:.8em;
  color: white;
  background: rgba(255,0,0,.85);
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}


/* on ex2 if you include bootstrap v3 css the number is a rounded circle with the .has-badge class */
#ex2 .fa-stack[data-count]:after{
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 30%;
  padding:.6em;
  border-radius: 999px;
  line-height:.75em;
  color: white;
  background: rgba(255,0,0,.85);
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

#ex1 .icon-grey {
    color: grey;
    
}
#ex1 i {   
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
#ex1 .badge:after{
    content: "100";
    position: absolute;
    background: rgba(0,0,255,1);
    height: 2rem;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    border: 1px solid blue;
}


#proquant{
    width: 60px;
    border-radius: 5px;
}

#cartnoti{
    position: relative;
    top: -7px;
    left: -4px;
    display: inline-block;
    min-width: 10px;
    padding: 0px 0px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color:#fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}

#cnt1 {            
    /*background-color: rgba(215, 212, 212, 0.88);*/
    width: 90%;
    margin-bottom: 70px;
 }
  
 .feature{
    padding: 20px 0;
    text-align: center;
 }
 .feature > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
 }
 .feature > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
    background: rgba(232, 215, 215, 0.10);
    transition: 0.3s;
 }   
.about .body{
    opacity: 0.5;
    background-image: url(http://getwallpapers.com/wallpaper/full/8/2/c/200229.jpg)
}
.video-fluid {
    width: 100%;
    height: auto;
}
/*contact*/
ody{

   
    background-image: linear-gradient(#79a06d, #79a06d); 
}

#box{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    top:50px;
}

h2{
    text-align:center;
    color:#fff;
}
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}





/*section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}*/    










