@import '~bootstrap/scss/bootstrap.scss';
.slick-track{
    opacity: 1; 
    width: 1650px;
}
.item-slick1{
    background-image: url(&quot;images/master-slide-02.jpg&quot;); width: 550px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;
    tabindex: 0;
}

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}

.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}

.h1 small {
font-size: 24px;
}

.owl-wrapper{
    display: block; 
    width: 3648px; 
    left: 0px; 
    transition: all 0ms ease; 
    transform: translate3d(0px, 0px, 0px);
}

.product-slider owl-carousel owl-theme{
    display: block; 
    opacity: 1;
}

.owl-item{
    width: 228px;
    visibility: visible;
}

.item{
    visibility: visible;
}

.product-slider img{
    width: 100%;
}

._3fcx {
    background-color: green;
    font-size: 14px;
    font-weight: 600;
    color: white;
    line-height: 18px;
    padding: 4px;
    width: 40px;
    border-radius: 100%;
    position: relative;
}

._7ye img{
    height: 325; top: -40px; left: 0px;
} 
#passinput{
    margin-left: 15px;
}
#mymodal{
    padding: 4rem;
}
#loginb{
    color: green;
    float: right;
}
.html5{    
width: 510px; height: 287px; left: 0px; top: 0px;   
}
#prodquant{
    width: 40px;
}
#mynavbar{
    padding: 30px;
}
#myuser{
    margin-right: 10px;
}
#mylogb{
    float: right;
    color: blue;
    border-radius: 5px;
    margin-top: 52px;
    margin-bottom: -40px;
}
.modal-body{
    padding: 71px;
}
.modal-header{
    background: #1240d040;
}    
.sortdiv{
    float: right;
}